/* Main file */

@import "partials/_fonts";
@import "partials/_vars";
@import "partials/_mixins";
@import "compass/typography/links/hover-link";
@import "compass/css3/transition";

* {
  text-align: center;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size;
  color: $mainColor;
  background-color: $background-color;
}

#header {
  color: $headerColor;
	width: 100%;
  background-color: $header-background-color;
  padding: 0px 5px;
  position: fixed;
  top: 0;
  
  .container {
    margin: 0 auto;
    width: 85%;
    @include bp-small {
      width: 95%;
    }
    
    #logo, nav {
      line-height: $header-line-height;
    }
    
    #logo {
      float: left;
      font-size: xx-large;
      font-weight: 600;
    }
    
    nav {
      float: right;
      font-weight: $menu-font-weight;
      
      ul {
        display: flex;
        flex-direction: row;
        
        @include bp-small {
          flex-direction: column;
        }
        
        li {
          padding: 0 15px;
          @include transition(all 0.2s ease-in-out);
          
          &:hover {
            background-color: #FFF;
            a {
              color: $header-hover-color;
            }
          }
        }
      }
      
      a {
        color: inherit;
        @include hover-link;
        &:hover {
          text-decoration: none;
        }
      }
      
      @include bp-small {
        line-height: 23px;
      }
    }
  }
}

/* 23/11/15 Juste le premier pour respecter la hauteur du header */ 
#wrapper section:nth-of-type(1) {
  margin-top: $header-line-height;
}

