/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />  */
/* line 5, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Main file */
/* Fonts */
/* Variables */
/* Mixins */
/* line 9, ../sass/_main.scss */
* {
  text-align: center;
  box-sizing: border-box;
}

/* line 14, ../sass/_main.scss */
html, body {
  height: 100%;
}

/* line 18, ../sass/_main.scss */
#wrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #515151;
  background-color: #e6e6e6;
}

/* line 29, ../sass/_main.scss */
#header {
  color: #FFF;
  width: 100%;
  background-color: #00B4FF;
  padding: 0px 5px;
  position: fixed;
  top: 0;
}
/* line 37, ../sass/_main.scss */
#header .container {
  margin: 0 auto;
  width: 85%;
}
@media only screen and (max-width: 700px) {
  /* line 37, ../sass/_main.scss */
  #header .container {
    width: 95%;
  }
}
/* line 44, ../sass/_main.scss */
#header .container #logo, #header .container nav {
  line-height: 100px;
}
/* line 48, ../sass/_main.scss */
#header .container #logo {
  float: left;
  font-size: xx-large;
  font-weight: 600;
}
/* line 54, ../sass/_main.scss */
#header .container nav {
  float: right;
  font-weight: 700;
}
/* line 58, ../sass/_main.scss */
#header .container nav ul {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 700px) {
  /* line 58, ../sass/_main.scss */
  #header .container nav ul {
    flex-direction: column;
  }
}
/* line 66, ../sass/_main.scss */
#header .container nav ul li {
  padding: 0 15px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 70, ../sass/_main.scss */
#header .container nav ul li:hover {
  background-color: #FFF;
}
/* line 72, ../sass/_main.scss */
#header .container nav ul li:hover a {
  color: #00B4FF;
}
/* line 79, ../sass/_main.scss */
#header .container nav a {
  color: inherit;
  text-decoration: none;
}
/* line 4, ../../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_hover-link.scss */
#header .container nav a:hover, #header .container nav a:focus {
  text-decoration: underline;
}
/* line 82, ../sass/_main.scss */
#header .container nav a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 700px) {
  /* line 54, ../sass/_main.scss */
  #header .container nav {
    line-height: 23px;
  }
}
